.d3-hinton-background {
    fill: #e1e1e6;
  }
  
  .d3-hinton-gridline {
    stroke: rgb(220, 220, 220);
    stroke-width: 1;
  }
  
  .d3-hinton-cell {
    fill: rgb(100, 100, 100);
    stroke-width: 0;
  }
  
  .d3-hinton-cell.negative {
    fill: #e1e1e6;
    stroke: rgb(100, 100, 100);
    stroke-width: 1;
  }